* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color:rgba(250,250,250,1);
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.celular img {
    height: 50rem;
}

.form-box {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-direction: column;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:rgba(250,250,250,1);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img {
    height: 6rem;
}

.login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.logout {
    color: #0095f6;
    margin-top: 1rem;
}

.cadastrar {
    color: rgb(160, 160, 160);
}

.link {
    color: #0095f6;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download-link {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.btn {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.btn:nth-child(1) {
    background-image: url('./public/apple-button.png');
}

.btn:nth-child(2) {
    background-image: url('./public/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color:rgba(250,250,250,1);
    }
  
    .flex-container {
        width: 90%;
    }

    .celular {
        display: none;
    }

    .form-box {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}